# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/vcs.xml
/call_client.sh
__pycache__/
config/__pycache__/
data/cluster_0.pkl
data/cluster_1.pkl
data/cluster_2.pkl
data/cluster_3.pkl
data/cluster_4.pkl
data/cluster_5.pkl
data/cluster_6.pkl
data/cluster_7.pkl
data/cluster_8.pkl
data/cluster_9.pkl
origin_corpus/QGdata.zip
origin_corpus/QGdata/
origin_corpus/conv/
origin_corpus/json/
index/cluster_0/
index/cluster_1/
index/cluster_2/
index/cluster_3/
index/cluster_4/
index/cluster_5/
index/cluster_6/
index/cluster_7/
index/cluster_8/
index/cluster_9/
model/cluster_0.pkl
model/cluster_1.pkl
model/cluster_2.pkl
model/cluster_3.pkl
model/cluster_4.pkl
model/cluster_5.pkl
model/cluster_6.pkl
model/cluster_7.pkl
model/cluster_8.pkl
model/cluster_9.pkl
sentence_cluster/.floydexpt
sentence_cluster/.floydignore
sentence_cluster/cluster_result/
sentence_cluster/data/
sentence_cluster/floyd.yml
sentence_cluster/floyd_requirements.txt
stopwords-master.zip
test_gevent.py
vec_model/doc_vec
vec_model/doc_vec.docvecs.vectors_docs.npy
vec_model/doc_vec.trainables.syn1neg.npy
vec_model/doc_vec.wv.vectors.npy
.vscode/
connect.py
